.app {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
}
/*styling for the navigation menu*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #020072;
  color: #efe4b0;
  padding: 1rem;
}
.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.nav-links li {
  margin-right: 1rem;
}
.nav-links a {
  color: #efe4b0;
  text-decoration: none;
}